global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['{{ alertmanager_host }}:{{ alertmanager_port }}']

scrape_configs:
  - job_name: 'template-manager-server'
    static_configs:
      - targets: ['{{ template_manager_host }}:{{ template_manager_port }}']

  - job_name: 'snmp_notifier'
    static_configs:
      - targets: ['{{ snmp_notifier_host }}:{{ snmp_notifier_port }}']

  - job_name: 'node_exporter'
    static_configs:
      - targets: ['{{ node_exporter_host }}:{{ node_exporter_port }}']

  # Add more scrape configurations here if needed
  # Example for scraping other services:
  # - job_name: 'my_service'
  #   static_configs:
  #     - targets: ['localhost:8080']

rule_files:
  - '{{ alert_rules_path }}'

